/* External resource */

@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Global properties */

* {
    box-sizing: border-box;
    font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(money.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#window {
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    border-radius: 48px;
    background-color: rgb(255, 235, 205);

    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

h1 {
    text-align: center;
    margin: 0;
}

p {
    text-align: center;
    margin: 0;
}

#deviseConverter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.formElement {
    display: flex;
    flex-direction: row;
}

.amount {
    width: 10rem;
    padding: 16px;

    font-size: 16px;
    color: rgb(0, 0, 0);

    border: none;
    border-radius: 1rem 0 0 1rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.amount::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.devise {
    padding: 1rem;

    font-size: 16px;
    color: rgb(0, 0, 0);

    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 1rem 1rem 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.devise:hover {
    cursor: pointer;
}

.devise.invalid {
    border: 2px solid rgb(180, 0, 0);
}

#swap_button {
    padding: 16px;
    border-radius: 100%;
}

#swap_button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

#currencyRate {
    visibility: hidden;
    height: 0;
}

#currencyRate.show {
    visibility: visible;
    height: auto;
}